/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  padding-left: 21px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
 
 
.message-sent {
  position: relative;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}
 
 
.message-received {
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

.user-list-header {
  background-color: #a8b5d3;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
